.img-container {
  width: 200px; 
  height: 200px;
  overflow: hidden; 
  border-radius: 50%;
  margin: 20px; 
  display: flex; 
  align-items: center;
  
}

.img-custom {
  width: 100%; 
  height: 100%;
  object-fit: cover;
  
}
  .icon{
    margin-right: 5px;
    color: gray;
  }
  ul {
    list-style: none;
  }
  @media (min-width: 800px ){
    .button-container {
      position: absolute;
      top: 10px;
      right: 10px;
    }
    .button-container-bottom {
      position: absolute;
      bottom: 10px;
      right: 10px;
    }

  }

  @media (max-width: 799px){
    .button-container {
      position: absolute;
      bottom: 10px;
      right: 10px;
    }
    .button-container-bottom {
      position: absolute;
      bottom: 10px;
      right: 60px;
    }
  }
  
  .delete-button {
    background-color: #46255f;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .delete-button:hover {
    background-color: #ff3333;
  }
  
  